<!doctype html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    {# --- css --- #}
    {% block extra_css %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/bbs/menu">Django 掲示板</a>
    <ul class="navbar-nav mr-auto">　
        <li class="nav-item">
            <a class="nav-link" href="/bbs/menu">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">自己紹介</a>
        </li>
    </ul>

    <ul class="navbar-nav">

        {% if user.is_authenticated %}
            <li class="navbar-text text-white">
                ようこそ {{ user.get_username }} さん!
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bbs/accounts/logout">ログアウト</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/bbs/accounts/login">ログイン</a>
            </li>
        {% endif %}

    </ul>


</nav>

<main role="main" class="container" style="padding-top: 60px">
    {% include '_message.html' %}
    {% block content %}{% endblock %}
</main>
{# --- js --- #}
{% block extra_js %}{% endblock %}
</body>
</html>